body {
  background-color: #fff;
  padding: 30px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #fff;
  text-align: center;
  padding: 0;
}

/* nav stuff */
ul.header li a, h1 a {
  color: #EEE;
  font-weight: bold;
  text-decoration: none;
  padding: 12px;
  display: inline-block;
}

h1 a {
  color: #111;
  font-size: .7em;
}

/* sub-navigation */
.header li a, h1 a:hover {
  text-decoration: none;
  color:#999;
}

.content{
   width: 80%;
   margin: auto;
}

.content li a{
  font-size: 12px;
  margin-top: -35px;
}

.content li a:hover{
  color: #999;
  
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  margin-top: 80%;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 25px;
  margin-right: -250%;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 25px;
  margin-left: -250%;
  color: black;
}

.content div img {
  margin: 0 auto;
  width: 75%;
}

.carousel-indicators {
  display: none;
}

.content li a {
  color: #EEE;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

.content {
  background-color: #FFF;
  text-align: center;
}
.content h2 {
  padding: 0;
  margin: 0;
}

.sub-content {
  background-color: #FFF;
  padding: 20px;
}
.sub-content h2 {
  padding: 0;
  margin: 0;
}


img {
  height: 100%;
  width: 100%;
}

.scrolldown-img {
  padding: 15px 200px;
}

.active {
  color: #111 !important;
}

.content li {
  margin-bottom: 10px;
}

.photo-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px; /* Adjust spacing between images */
}

.photo-grid-item {
  width: 100%;
  height: auto;
  margin: 30px 0 !important;
  object-fit: cover; /* This ensures images maintain aspect ratio */
}

/* Optional: Make it responsive */
@media (max-width: 768px) {
  .photo-grid-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
  }
}

@media (max-width: 480px) {
  .photo-grid-container {
    grid-template-columns: 1fr; /* 1 column on mobile */
  }
}


/*MOBILE SHIT*/
@media only screen and (max-width: 600px) {
  
}
